@import '../page';
@import '../section';

.wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.img {
    width: 100%;
    margin-bottom: 20px;
    order: 1;
}

.text {
    width: 100%;
    margin-bottom: 30px;
    padding: 0 10px;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 200%;
    order: 2;
}
@media (min-width: 575.98px) {
    .text {
        font-size: 16px;
        line-height: 200%;
    }
}
@media (min-width: 767.98px) {
    .text{
        padding: 0 16px;
    }
    .img {
        width: 100%;
    }
}
@media (min-width: 991.98px) {
    .wrap {
        flex-direction: row;
    }

    .text {
        padding: 0;
        float: left;
        width: calc(50% - 20px);
        max-width: 580px;
        height: auto;
        order: 1;
    }

    .img {
        float: left;
        width: calc(50% - 20px);
        max-width: 580px;
        height: auto;
        max-height: 498px;
        order: 2;
    }
}
@media (min-width: 1199.98px) {
    section{}
}
