.box {
    margin-top: 60px;
    position: relative;
    max-width: 980px;
    border: dashed 1px #d9d9d9;
    padding: 10px;
    border-radius: 3px;
}

.controls {
    position: absolute;
    top: -30px;
    left: -1px;
    &__btn {
        border: solid 1px #d9d9d9;
        padding: 5px;
        margin-right: 3px;
    }
}

.upload {
    display: block;
    border: dashed 1px #d9d9d9;
    border-radius: 3px;
    height: 200px;
    width: 200px;
    padding: 5px;
}

.image {
    width: 100%;
}

.chunk {
    &:after {
        content: "";
        display: table;
        clear: both;
    }

    &__image {
        &__S {
            width: 30%;
            float: right;
            margin-left: 40px;
        }
        &__M {
            width: 40%;
            float: right;
            margin-left: 40px;
        }
        &__L {
            width: 50%;
            float: right;
            margin-left: 40px;
        }
    }
}
