.name {
    margin: 0 0 10px 0;
    font-family: "SF UI Display";
    font-size: 25px;
    font-weight: bold;
    line-height: 140%;
    text-transform: capitalize;
}

.positions {
    flex-grow: 1;
}

.position {
    display: inline-block;
    margin: 0 8px 8px 0;
    padding: 0 10px;
    font-family: "SF UI Display";
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #c4c4c4;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

.experience {
    margin: 0;
    font-family: "SF UI Display";
    font-size: 16px;
    font-weight: bold;
    line-height: 150%;
}

.item {
    max-width: 380px;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: all 0.3s;

    &:hover {
        transform: translateY(-5px);
        transition: all 0.3s;
    }
}

.link {
    text-decoration: none;
}

.img {
    width: 380px;
    height: 316px;
}

.wrapper {
    min-height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px 15px 15px;
}

@media (max-width: 540px) {
    .img {
        width: 100%;
        height: auto;
        margin: 0;
	}
	
	.position {
		font-size: 14px;
		color: #43A047;
		border: 1px solid #43A047;
	}
}
