.item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
  height: 30px;
  margin: 24px auto 0;
}

.link {
  display: block;
  width: 35px;
  margin: 0 10px;
  font-family: 'SF UI Display';
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
}

.prev,
.next {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #E5E5E5;

  &:before{
    content: '';
    width: 10px;
    height: 10px;
    background: transparent;
    transform: rotateZ(45deg);
  }
}

.prev{
  &:before {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }
}

.next{
  &:before {
    border-top: 1px solid black;
    border-right: 1px solid black;
  }
}