.wrap {
  width: 95vw;
  max-width: 1180px;
  margin: 0 auto;
}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 455px;
  padding: 10px 0;
  outline: none;
}