.case {
    display: flex;
}

.aside {
    min-width: 260px;
    margin-right: 40px;
}

.article {
    flex-grow: 1;
}

@media (max-width: 540px) {
    .case {
        display: block;
    }
    
    .aside {
        min-width: auto;
        margin-right: 0;
    }
    
    .article {
        flex-grow: none;
    }
}