.list {
  display: flex;
  height: 50px;
  border-bottom: 2px solid #F8F8F8;
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}

.tab {
  outline: none;
}

.item {
  padding: 8px 20px;
  background: white;
  border-radius: 5px 5px 0 0;
  color: #000;
  font-family: 'SF UI Display';
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  cursor: pointer;
  outline: none;

  &Active {
    padding: 8px 20px;
    border-radius: 5px 5px 0 0;
    background: #5F9012;
    font-family: 'SF UI Display';
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: white;
    cursor: pointer;

  }
}

.doctors {
  display: flex;
  flex-flow: row wrap;

  & > div {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

.wrap {
  width: 100%;
}

@media (max-width: 540px) {
  .list {
    flex-direction: column;
    height: auto;
  }
  .wrap {
    max-width: 100%;
  }
  .item,
  .itemActive {
    font-family: 'SF UI Display';
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 2px;
  }
  .item {
    background-color: #F8F8F8;
  }
  .doctors {
    justify-content: center;

    & > div {
      margin: 0 0 30px;

      &:last-child {
        margin: 0;
      }
    }
  }
}