.header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
    background: #f8f8f8;
}

.header__top {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.logo__box {
    padding: 0 10px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    min-width: 190px;
}

.menu {
    padding: 20px 20px 20px 20px;
    background: #f8f8f8;
    text-align: center;
}

.menuList {
    margin: 40px 0;
}

.menuLink {
    display: block;
    padding: 10px 0;
    font-size: 18px;
}
