$color: #C2C2C2;
$close: #EDEDED;
$checkbox: 1px solid #959393;

.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 380px;
  padding: 20px 40px 30px;
  background: white;
  z-index: 201;
}

.close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  color: $close;
  cursor: pointer;

  &:hover {
    color: #BFBEBE;
    transition: .2s;
  }
}

.title {
  font-family: 'SF UI Display';
  align-self: flex-start;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;

  & > span {
    font-family: 'SF UI Display';
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #535353;
  }

  &:last-child{
    margin-bottom: 30px;
  }
}

.input {
  width: 100%;
  height: 41px;
  margin-top: 3px;
  padding: 13px 15px;
  border: 1px solid #979797;
  border-radius: 5px;
  outline: none;
  font-family: 'SF UI Display';
  font-weight: normal;
  resize: none;
  overflow: hidden;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  padding-bottom: 2px;
  background: white;
  border: 1px solid #959393;
  border-radius: 3px;

  span {
    display: block;
    width: 9px;
    height: 5px;
    border-bottom: 2px black solid;
    border-left: 2px black solid;
    transform: rotate(-45deg);
  }
}

.confident {
  display: flex;
  margin-top: 30px;

  span {
    width: 95%;
    font-family: 'SF UI Display';
    font-weight: 300;
  }

  &Link {
    color: #8C8B8B;
  }
}