@import '../page';

.actions {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  margin: 0 -10px;

  &__item {
    width: 25%;
    padding: 10px 10px 20px 10px;
  }
  
}

@media (max-width: 540px) {
  .actions {
    display: block;
  
    &__item {
      width: auto;
      padding: 10px 10px 20px 10px;
    }
  }
}